# Ignore
.qodo
 
# Python virtual environments
venv/
ENV/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Build / Distribution artifacts
build/
dist/
*.egg-info/

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux specific files
*~

# Other miscellaneous files
*.log
*.tmp